
#container{
    background-color: beige;
  
    height: 200px;
    text-align: center;

}
form{
padding: 40px;

}
input{
    padding: 5px;
    margin: 15px;
    width: 270px;
    height: 31px;
    border-radius: 21px;
    border: none;
    background: gray;
}
button{

padding: 10px;
    margin: 20px;
    width: 70px;
}
section{
    /* background: aqua; */
    height: 75px;
    text-align: center;
}