
form{
    background-color: #da88c5;
    text-align: center;
    height: 70px;
    margin-top: 20px;
    padding: 11px;
}
form #input-text{
    width: 224px;
    padding: 5px;
    border-radius: 10px;
}